.App {
  text-align: center;
}

.abc {
  background-color: lightgray;
}
.container{
  display: flex;
}

.Second{
margin-left: 20%;
}
.Third{
margin-left: 40%;
}
.Fourth{
margin-left: 60%;
}

li:hover { 
   background-color: blue;
   /* font-size: large;  */
   /* color: #61dafb; */
}

.align{
  padding-inline: 12%;
}

a { 
  position: relative;
}
a:active {
  top: 5px;
  background-color: blue;
}
/* li.active{
  background-color: blue;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
